# Test report of skype_send_message

```
Testing started at 18:07 ...
E:\Work\Python\pyims\venv\Scripts\python.exe "C:\Program Files\JetBrains\PyCharm 2018.1.3\helpers\pycharm\_jb_unittest_runner.py" --path E:/Work/Python/pyims/test_skype_send_message.py
Launching unittests with arguments python -m unittest E:/Work/Python/pyims/test_skype_send_message.py in E:\Work\Python\pyims
setUpClass
==========Set up for [Get message test]
password is set  None
id: test_skype_send_message.SkypeSendTextMessageTest.test_messages_text_message
Tear down for [Get message test]

password deleted:  None
Set up for [Send message test]
password is set  None
id: test_skype_send_message.SkypeSendTextMessageTest.test_send_text_message
Welcome to 'Skype send message'. 
Sending: 
HELLO, TEST12
Tear down for [Send message test]



Ran 2 tests in 10.638s
password deleted:  None

OK
==========
tearDownClass
Process finished with exit code 0

```

# Test report of telegram_send_message

```
Testing started at 12:53 ...
/home/idumenskyi/work/pycharm/test_pyims_with_main/venv/bin/python /home/idumenskyi/apps/pycharm-2018.1.3/helpers/pycharm/_jb_unittest_runner.py --path /home/idumenskyi/work/pycharm/test_pyims_with_main/test_telegram_send_message.py
Launching unittests with arguments python -m unittest /home/idumenskyi/work/pycharm/test_pyims_with_main/test_telegram_send_message.py in /home/idumenskyi/work/pycharm/test_pyims_with_main
setUpClass
==========Set up for [SEND MESSAGE is SET, TEST]
id: test_telegram_send_message.TelegramSendTextMessageTest.test_send_text_message
Tear down for [SEND MESSAGE is SET, TEST]



Ran 1 test in 0.289s

OK
==========
tearDownClass
Process finished with exit code 0

```

