```
Testing started at 13:55 ...
/home/idumenskyi/work/pycharm/test_pyims_with_main/venv/bin/python /home/idumenskyi/apps/pycharm-2018.1.3/helpers/pycharm/_jb_unittest_runner.py --path /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py
Launching unittests with arguments python -m unittest /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py in /home/idumenskyi/work/pycharm/test_pyims_with_main
setUpClass
====================
tearDownClassSet up for [Get messages test]
password is set  None
password is set  None
id: test_skype_send_message.SkypeSendTextMessageTest.test_messages_text_message
HELLO, TEST11
HELLO, TEST11
Tear down for [Get messages test]

password deleted:  None
password deleted:  None
Set up for [Send message test]
password is set  None
password is set  None
id: test_skype_send_message.SkypeSendTextMessageTest.test_send_text_message
Welcome to 'Skype send message'. 
Sending: 
Your message is send
Welcome to 'Skype send message'. 
Sending: 
Your message is send
Tear down for [Send message test]

password deleted:  None


Ran 2 tests in 17.924s

OK
password deleted:  None

Process finished with exit code 0

```
