```
Testing started at 19:49 ...
/home/idumenskyi/work/pycharm/test_pyims_with_main/venv/bin/python /home/idumenskyi/apps/pycharm-2018.1.3/helpers/pycharm/_jb_unittest_runner.py --path /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py
Launching unittests with arguments python -m unittest /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py in /home/idumenskyi/work/pycharm/test_pyims_with_main
setUpClass
==========Set up for [SEND MESSAGE is SET, TEST]
password is set  None
id: test_skype_send_message.skype_send_message_test.test_send_message_conversation
Welcome to 'Skype send message'. 
password stored successfully
Sending: 
Your message is send
Tear down for [SEND MESSAGE is SET, TEST]



Ran 1 test in 5.979s

OK
password deleted:  None
==========
tearDownClass
Process finished with exit code 0

```
