```
Testing started at 21:05 ...
/home/idumenskyi/work/pycharm/test_pyims_with_main/venv/bin/python /home/idumenskyi/apps/pycharm-2018.1.3/helpers/pycharm/_jb_unittest_runner.py --path /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py
Launching unittests with arguments python -m unittest /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py in /home/idumenskyi/work/pycharm/test_pyims_with_main
setUpClass
==========Set up for [PASSWORD is SET, TEST]
password is set None
id: test_skype_send_message.skype_send_message_test.test_password_from_keyring
Welcome to 'Skype send message'. 
password stored successfully
Type user name of Skype for 1-to-1 conversation: nexus12141
Sending: 
Type your message for user of Skype with you want to 1-to-1 conversation: hello
Your message is send
Skype nexus1214 xxxxxxxxx
Tear down for [PASSWORD is SET, TEST]

password deleted:  None
==========
tearDownClass

Ran 1 test in 39.574s

OK

Process finished with exit code 0

```
