```
Testing started at 21:45 ...
/home/idumenskyi/work/pycharm/test_pyims_with_main/venv/bin/python /home/idumenskyi/apps/pycharm-2018.1.3/helpers/pycharm/_jb_unittest_runner.py --path /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py
Launching unittests with arguments python -m unittest /home/idumenskyi/work/pycharm/test_pyims_with_main/test_skype_send_message.py in /home/idumenskyi/work/pycharm/test_pyims_with_main
setUpClass
==========Set up for [SEND MESSAGE is SET, TEST]
password is set  None
id: test_skype_send_message.SkypeSendTextMessageTest.test_send_text_message
Welcome to 'Skype send message'. 
Sending: 
Your message is send
Tear down for [SEND MESSAGE is SET, TEST]

password deleted:  None
==========
tearDownClass

Ran 1 test in 7.703s

OK

Process finished with exit code 0

```
